[submodule "Packages/SMILEI-Core"]
	path = Packages/SMILEI-Core
	url = https://github.com/WispBart/SMILEI-Core.git
[submodule "Packages/SMILEI-MidiMocker"]
	path = Packages/SMILEI-MidiMocker
	url = https://github.com/WispBart/SMILEI-Midimocker.git
[submodule "Packages/SMILEI-NoldusSocket"]
	path = Packages/SMILEI-NoldusSocket
	url = https://github.com/WispBart/SMILEI-NoldusSocket.git
[submodule "Packages/SMILEI-Vokaturi"]
	path = Packages/SMILEI-Vokaturi
	url = https://github.com/WispBart/SMILEI-Vokaturi.git
	